* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, html {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.bg-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: rgb(37, 34, 36);
    margin: 0;
}
.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 80vh;
    width: 85%;
    background-color: rgb(247, 241, 246);
    border-radius: 10px;
    padding: 16px;
}
.heading-container {
    margin-top: 12px;
    margin-bottom: 12px;
    text-align: center;
}
.todo-heading {
    color: rgb(238, 144, 38);
    padding-bottom: 8px;
    font-size: 30px;
}
.app-text {
    color: rgb(37, 34, 36);
    font-size: 18px;
    font-weight: 600;
}
.form {
    display: flex;
    flex-direction: column;
    width: 95%;
    margin-top: 12px;
    margin-bottom: 12px;
}
.todo-add-input {
    height: 45px;
    width: 100%;
    color: rgb(37, 34, 36);
    border: none;
    border-bottom: 2px solid rgb(238, 144, 38);
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 600;
    padding: 10px;
    border-radius: 8px;
}
.add-button, .search-button {
    height: 40px;
    width: 25%;
    align-self: flex-end;
    border-radius: 8px;
    border: none;
    background-color: rgb(238, 144, 38);
    color: rgb(37, 34, 36);
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}
.todos-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 95%;
    margin-top: 12px;
    margin-bottom: 12px;
    padding: 12px;
    border: 1px solid rgb(37, 34, 36);
    border-radius: 10px;
}
.todos-header-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}
.header-title {
    color: rgb(37, 34, 36);
    font-weight: 600;
    font-size: 20px;
}
.search-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}
.todo-search-input {
    height: 40px;
    width: 75%;
    border: none;
    color: rgb(37, 34, 36);
    font-size: 16px;
    font-weight: 500;
    padding: 8px;
}

.todos-list-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}


@media screen and (min-width: 580px) {
    .form {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    .todo-add-input {
        width: 75%;
        margin-bottom: 0;
        margin-right: 12px;
    }
}